.box {
  background-image: url("./images/stars_background.jpg");
  min-height: 100vh;
  width: 100vw;
  margin-right: 0;
}

.logo {
  display: flex;
  justify-content: center;

  &__image {
    background-image: url("./images/star_wars_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    padding-bottom: 100%;
  }
}
